@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

:root {

  --body-background-color: #302C42;
  --ltr-gr-color: linear-gradient(to right, #C0B7E8, #8176AF);

  --white-font: #FFFFFF;

  --container-width: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background-color: var(--body-background-color);
  color: var(--white-font);
  /* letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  word-spacing: var(--word-spacing); */
}


/* ========== TEXT ======== */

.bold-font {
  font-weight: 600;
}

.light-font {
  font-weight: 400;
}


.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-36 {
  font-size: 36px;
}

.font-46 {
  font-size: 46px;
}

.up-txt {
  text-transform: uppercase;
}

.cap-txt {
  text-transform: capitalize;
}

.gr-txt {
  background: -webkit-linear-gradient(#C0B7E8, #8176AF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light-txt {
  color: #C0B7E8;
}

.red-txt {
  color: #ca2204;
}

.text-center {
  width: 100%;
  text-align: center;
}

.first3 {
  width: 5ch;
  overflow: hidden;
  white-space: nowrap;
}

.connetwallet {
  cursor: pointer;
}

/* =========== MARGIN ================== */

.mrgn-btm-05 {
  margin-bottom: 0.5rem;
}

.mrgn-top-05 {
  margin-top: 0.5rem;
}

.mrgn-top-1 {
  margin-top: 1rem;
}

.mrgn-top-2 {
  margin-top: 2rem;

}

.mrgn-top-3 {
  margin-top: 3rem;

}

.padding-1 {
  padding: 1rem;
}

/* ========= BUTTON =========== */
.border-btn {
  width: 160px;
  height: 45px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gr-btn {
  min-width: 180px;
  min-height: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 30px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

/* ============ IMG ============= */

.logo-50 {
  object-fit: cover;
  object-position: center;
  width: 50px;
}

.icon-20 {
  width: 20px;
}

.icon-15 {
  width: 15px;
}



/* =======center============= */

.center {
  display: flex;
  align-items: center;
  gap: 5px;
}

.theme-txt {
  color: #C0B7E8;
}

/* =====border=========== */
.border {
  border: 1px solid red;
}

/* ================================================ */
@media screen and (max-width:1080px) {

  .font-46 {
    font-size: 25px;
  }

}